USE [master]
GO
/****** Object:  Database [Test]    Script Date: 2019/03/07 11:34:49 ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQL14\MSSQL\DATA\Test.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQL14\MSSQL\DATA\Test_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[userINFs]    Script Date: 2019/03/07 11:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userINFs](
	[idOfUser] [int] NOT NULL,
	[gender] [varchar](100) NULL,
 CONSTRAINT [PK_userINFs] PRIMARY KEY CLUSTERED 
(
	[idOfUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userTs]    Script Date: 2019/03/07 11:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userTs](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Surname] [varchar](100) NULL,
 CONSTRAINT [PK_userTs] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userWorks]    Script Date: 2019/03/07 11:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userWorks](
	[idUser] [int] NOT NULL,
	[workType] [varchar](100) NULL,
 CONSTRAINT [PK_userWorks] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[userINFs]  WITH CHECK ADD  CONSTRAINT [FK_forTwo_fk] FOREIGN KEY([idOfUser])
REFERENCES [dbo].[userTs] ([userID])
GO
ALTER TABLE [dbo].[userINFs] CHECK CONSTRAINT [FK_forTwo_fk]
GO
ALTER TABLE [dbo].[userWorks]  WITH CHECK ADD  CONSTRAINT [FK_for_fk] FOREIGN KEY([idUser])
REFERENCES [dbo].[userTs] ([userID])
GO
ALTER TABLE [dbo].[userWorks] CHECK CONSTRAINT [FK_for_fk]
GO
USE [master]
GO
